<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- pageTitle %></title>
</head>
<body>
    <% if (!user) { %>
		<h2>Welcome! Please log in.</h2>
        <p>
          <a href="/">Home</a> | <a href="/login">Log In</a>
        </p>
    <% } else { %>
		<h2>Hello, <%= user.email %>.</h2>
        <p>
          <a href="/">Home</a> | <a href="/logout">Log Out</a>
        </p>
    <% } %>
</body>
</html>
